footer {
    grid-area: ft;
    background-color:hsl(0, 0%, 98%);

}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px 0;
}

.about ul {
    padding: 0;
}


.about ul li {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2rem;
    color: hsl(256, 26%, 20%);
}

.about ul li:hover {
    text-decoration: underline;
    cursor: pointer;

}

.social-icons {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.footer-icon {
    grid-area: insure;
    float: left; 
    align-items: center;
    display: flex;
    text-decoration: none;
    padding: 15px;
}

.social {
    border-bottom: 1px solid hsl(273, 4%, 51%, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 90%;
    margin: 15px 0;
}

h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    color: hsl(273, 4%, 51%);
}

.fa {
    font-size: 24px;
    color: hsl(273, 4%, 51%);
    padding: 10px;
}

.fa:hover{
    color:hsl(260, 1%, 41%);
    cursor: pointer;
    transition: 0.1s;
}