body{
    min-width: 375px;
    max-width: 767px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

.the-content {
    max-width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 3fr);
    grid-template-areas:  
    "hd"
    "main"
    "ft";
    padding: 0px;
    margin: 0 auto;
}

header {
    grid-area: hd;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "nav"
    "h-info"
}

.navigation-menu {
    grid-area: nav;
    position: relative;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "insure burger"
    "menu menu";
    z-index: 1;
}

.logo-header, 
.toggle-menu {
    grid-area: insure;
    padding: 15px 10px;
}

.toggle-menu {
    grid-area: burger;
}

#burger {
    width: 25px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    float: right;
  }
  
  #burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

#burger span:nth-child(1) {
    top: 0px;
  }
  
  #burger span:nth-child(2),#burger span:nth-child(3) {
    top: 8px;
  }
  
  #burger span:nth-child(4) {
    top: 16px;
  }
  
  #burger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    right: 50%;
  }
  
  #burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #burger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-items {
    display: none;
    text-align: center;
    background-color: hsl(256, 26%, 20%);
    text-transform: uppercase;
    padding-top: 15px;
    grid-area: menu;
    margin-top: 5px;
    height: 100%;
    position: relative;
  }
  
  .navigation-menu a {
    text-decoration: none;
    display: block;
    color: hsl(0, 0%, 98%);
  }
  

  
  .nav a:hover {
    color: black;
  }
  
  #nav-items a {
      padding: 15px;
  }

  .view-plans {
    margin: auto;
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 98%);
    color: hsl(0, 0%, 98%);
    width: 80%;
    border: 1px solid hsl(0, 0%, 98%);
}

.nav-pattern {
  background-image: url("/images/bg-pattern-mobile-nav.svg");
  background-size: 100% 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0px;

}

.pattern-left-mobile {
  background-image: url("/images/bg-pattern-intro-left-mobile.svg");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  width: 210px; 
  height: 220px;

}

.pattern-right-mobile {
  background-image: url("/images/bg-pattern-intro-right-mobile.svg");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  position: absolute;
  width: 400px;
  height: 300px;
  right: 0px;
  bottom: -165px;
  

}

.pattern-tag { 
    grid-area: pattern;
    margin-top: 40px;
}


.header-background {
    grid-area: h-info;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 550px;
    grid-template-areas: 
    "h-img"
    "h-text";
    position: relative;
}

.header-info {
    grid-area: h-text;
    text-align: center;
    background-color: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
    display: flex; 
    flex-direction: column;
}

.header-info p{
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 14px;
    padding: 15px;
    margin: 10px 25px;
}

.header-photo {
    grid-area: h-img;
    background-image: url("/images/image-intro-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




h1, h2 {
    font-family: 'DM Serif Display', serif;
    line-height: 2.8rem;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1px;
}

h1 {
  margin-top: 100px;
}

h2 {
  margin-top: 60px;
}

h2::before {
    width: 100px; 
    height: 1px;
    content: "";
    background-color: hsl(273, 4%, 51%);
    display: block;
    margin: 0 auto 40px auto;
}

